<ion-header>
  <ion-navbar>
    <ion-title>
      Mess Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-slides>
  <ion-slide *ngFor='let mess of messes;let i = index;'>
    <h2 text-center style="position:sticky;">{{order[i]}}</h2>
      <br>
    <div *ngFor='let day of mess;let k=index;'>
    <h3 text-center [ngStyle]="{'color':'white','background-color':theme}" *ngIf="k%3==0">
    <br>{{day.day}}<br><br></h3>
      <div>
      <h5 style="text-transform:capitalize;color:green;">{{day.menutype}}</h5>
      <h4 text-center [innerHTML]=arr[i][k]></h4>    
      <hr style="border-width: 1.5px;">
      </div>
    </div>
    <br><br>
    </ion-slide>
</ion-slides> 

</ion-content>
